<!-- <section class="property-binding">
	<h3>property-binding</h3>
	<article>
		<h3>Interpolation / Interpolação</h3>
		<p>{{url}}</p>
		<p>Resultado de 1 + 1 é: {{ 1 + 1 }}</p>
		<p>Resultado {{ 1 + 1 + getValor()}}</p>
		<p>Curso Angular: {{ getCurtirCurso() &&  cursoAngular}}</p>
	</article>	
	<article>
		<h3>Property Binding</h3>
		<img src="{{ urlImagem }}" alt=""><br>
		<img [src]="urlImagem" alt="">
	</article>
</section> 

<article>
	<h3>Curso Angular #10: Class e Style binding</h3>

	<div>
		Selecione uma classe:
		<select #classe (change)="0">
			<option value="alert-success">Sucesso</option>
			<option value="alert-info">Info</option>
			<option value="alert-warning">Alerta</option>
			<option value="alert-danger">erro</option>
		</select>

		<br>
		<h2>Metodo utlizando o property binding de class</h2>
		<br>

		<div class="alert" role="alert" [class.alert-success]="classe.value == 'alert-success'">Sucesso</div>
		<div class="alert" role="alert" [class.alert-info]="classe.value == 'alert-info'">Info</div>
		<div class="alert" role="alert" [class.alert-warning]="classe.value == 'alert-warning'">Alerta</div>
		<div class="alert" role="alert" [class.alert-danger]="classe.value == 'alert-danger'">erro</div>

		<br>
		<h2>Metodo utlizando a interpolação</h2>
		<br>

		<div class="alert {{ classe.value }}" role="alert">
			Texto colorido conforme o valor do combobox
		</div>

		<br>
		<h2>Metodo utlizando o property binding com style de class</h2>
		<br>

		<div class="alert alert-danger" role="alert"
		[style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">
			Esse texto somente aparece em caso de erro
		</div>

	</div>
</article>-->

<article>
	<h3>Curso Angular #11: Event binding</h3>
	<div>
		<button 
			class="btn btn-primary" 
			(click)="botaoClicado()">
			Me Clique!
		</button>
		<br><br>

		<input type="text" 
			(keyup)="onKeyUp($event)"
			(keyup.enter)="salvarValor(campoInput.value)"
			(blur)="salvarValor(campoInput.value)"
			#campoInput>

		<br><br>
		<p>valor atual: {{valorAtual}}</p>
		<p>valor salvo: {{valorSalvo}}</p>

		<span
		(mouseover)="onMouseOverOut()"
		(mouseout)="onMouseOverOut()"
		[class.highlight]="isMouseOver">
			Passe p mouse sobre mim
		</span>
	</div>
</article>