<div class="container">
	<h1>Angular 2 + Google Maps Places Autocomplete</h1>
	<div class="form-group">
		<input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
	</div>
	<h1>{{latitude}}</h1>
	<h1>{{longitude}}</h1>
	<agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
		<agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
	</agm-map>
</div>